.footer {
	border-top: 2px solid #17313f;

	h4 {
		font-size: 16px;
		line-height: 17px;
		padding-bottom: 5px;
		padding-bottom: 13px;
	}

	.support_txt {
		padding-top: 5px;
	}

	.logo {
		a {
			color: #fff;
		}
	}

	.nav {
		display: block;

		@include media-breakpoint-down(sm) {
			display: flex;
			justify-content: center;

			+.nav {
				padding-top: 20px;
			}

			li {
				padding: 4px 5px;
			}
		}

		&.columns {
			column-count: 2;
		}

		li {
			padding-bottom: 5px;
			padding-bottom: 13px;
			line-height: 0;

			a {
				font-size: 16px;
				line-height: 17px;
				color: #aeb4b9;
				display: inline-block;
				border-bottom: 1px solid transparent;

				&:hover {
					text-decoration: none;
					border-bottom-color: #a6adb1;
					color: #fff;
				}
			}

			&.active {
				a {
					font-weight: bold;
					color: #fff;
					border-bottom-color: #a6adb1;
				}
			}
		}
	}

	.copy {
		color: #aeb4b9;
		position: relative;
		padding-top: 10px;

		&:before {
			content: "";
			width: 200px;
			height: 2px;
			background: #17313f;
			position: absolute;
			top: 0;
			left: 0;

			@include media-breakpoint-down(xs) {
				content: none;
			}
		}
	}
}

.soc_list {
	margin: 0 -10px;

	li {
		padding: 0 10px;

		a {
			color: #fff;
			display: block;
			font-size: 0;

			svg {
				height: 24px;
				display: block;
				fill: currentColor;
			}

			&:hover {
				color: theme-color("success");
				text-decoration: none;
			}
		}
	}
}

.soc_col,
.copy_col {
	@include media-breakpoint-down(md) {
		border-top: 1px solid #17313f;
		margin-top: 30px;
	}
}