@import '_custom_bootstrap_vatiables.scss',
'../../bower_components/bootstrap/scss/_functions.scss',
'../../bower_components/bootstrap/scss/_variables.scss',
'../../bower_components/bootstrap/scss/_mixins.scss';

:root {
	--regular: 'Proxima Nova Rg';
	--light: 'Proxima Nova Lt';
}

@mixin placeholder {
	&::-webkit-input-placeholder {
		@content
	}

	&:-moz-placeholder {
		@content
	}

	&::-moz-placeholder {
		@content
	}

	&:-ms-input-placeholder {
		@content
	}
}

.font-weight-light {
	font-family: var(--light);
}

body {
	font-family: 'Proxima Nova Rg';
	background: linear-gradient(45deg, #15212C 0%, #0C3749 100%);
	background-attachment: fixed;
	position: relative;

	&:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../images/noise.svg);
		// background-size: cover;
	}
}

.wrapper {
	position: relative;
	z-index: 1;
}

body,
html {
	height: 100%;
}

.centered {
	max-width: 1310px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;

}

a,
.btn {
	transition: all 0.3s ease;
}

.bdw_2 {
	border-width: 2px !important;
}

.rad_9 {
	border-radius: 9px;
}


.fz_10 {
	font-size: 10px;
}

.fz_12 {
	font-size: 12px;
}

.fz_13 {
	font-size: 13px;
}

.fz_14 {
	font-size: 14px;
}

.fz_16 {
	font-size: 16px;
}

.fz_18 {
	font-size: 18px;
}

.fz_21 {
	font-size: 21px;
}

.fz_24 {
	font-size: 24px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;

	.main {
		flex: 1 0 auto;
		padding-top: 40px;
	}

	.footer,
	.header {
		flex: 0 0 auto;
	}
}

.minw_0 {
	min-width: 0 !important;
}



h2 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 50px;
}

.text-decoration-underline {
	text-decoration: underline;
}

.lh_1 {
	line-height: 1;
}

.lh_1_2 {
	line-height: 1.3;
}

.lh_17 {
	line-height: 17px;
}

.col-320 {
	max-width: 320px;
	flex: 0 0 320px;
}

.bg_grad {
	background: linear-gradient(45deg, rgba(25, 38, 49, 1) 0%, rgba(23, 64, 81, 1) 100%);
	position: relative;
	z-index: 1;
	overflow: hidden;

	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: url(../images/noise.svg);
		// background-size: cover;
		z-index: -1;
	}

	* {
		position: relative;
		z-index: 1;
	}
}

.rad_9_left {
	border-radius: 9px 0 0 9px;
}

.rad_15 {
	border-radius: 15px;
}

.rad_9_right {
	border-radius: 0 9px 9px 0;
}

.bd_right {
	border-right: 2px solid #174051;
}

.mw_180 {
	max-width: 180px;
}

.mw_480 {
	max-width: 480px;
}

.b_shadow {
	box-shadow: 0 0 20px 6px rgba(#000, .10);
	// box-shadow: 0 0 20px 6px red;
}

.bg_gray {
	background: #23404e;
}

.mw_150 {
	max-width: 150px;
}

.form-control {
	border-width: 0;
	border-bottom-width: 1px;

	&:focus,
	.is-invalid {
		box-shadow: none !important;
	}
}

.form-group {
	&.is-invalid {
		label {
			color: theme-color('danger');
		}

		.form-control,
		.input-group_custom .input-group-prepend .input-group-text {
			border-bottom-color: theme-color('danger') !important;
		}
	}
}

.form-group {
	&.is-valid {
		label {
			color: theme-color('success');
		}

		.form-control,
		.input-group_custom .input-group-prepend .input-group-text {
			border-bottom-color: theme-color('success') !important;
		}
	}
}

label {
	font-size: 14px;
	line-height: 18px;
	padding-left: 8px;
}

.change_btn {
	width: 30px;
	height: 30px;
	padding: 0;
	margin: 0;
	background: none;
	border: 0;
	outline: none;

	@include media-breakpoint-down(xs) {
		transform: rotate(-90deg);
	}

	svg {
		display: block;

		path {
			transition: all 0.6s ease;
		}
	}

	&:hover {
		path {
			fill: theme-color('success');
		}
	}
}

.input-group_custom {
	.input-group-prepend {
		order: -1;
		margin: 0;

		.input-group-text {
			background: $input-bg;
			border-left: 0;
			border-right: 0;
			border-top: 0;
			transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
			user-select: none;
		}
	}

	.form-control {
		&:focus {
			~.input-group-prepend {
				.input-group-text {
					border-color: $input-focus-border-color;
				}

			}
		}
	}
}

.minw_0 {
	min-width: 0;
}

.col_xl_200 {
	@include media-breakpoint-up(xl) {
		max-width: 230px;
		flex: 0 0 230px;
	}
}

.numbered {
	li {
		counter-increment: counter;
		font-size: 16px;
		line-height: 21px;
		padding-bottom: 18px;

		&:last-child {
			padding-bottom: 0;
		}

		&:before {
			content: counter(counter) ". ";
			font-weight: bold;
		}
	}
}

.text_break {
	word-break: break-word;
}

.copy_link,
.ico_link {
	width: 19px;
	max-width: 19px;
	flex: 0 0 19px;
	height: 25px;
	display: inline-block;
	margin-top: 5px;
	margin-left: 10px;

	svg {
		display: block;
	}

	path {
		fill: #787e84;
		transition: all 0.6s ease;
	}

	&:hover {
		path {
			fill: theme-color('success');
		}
	}
}

.ico_link {
	width: 21px;
	max-width: 21px;
	flex: 0 0 21px;
	height: 21px;
	margin-top: 1px;
}

.search_ico {
	--size: 14px;
	max-width: var(--size);
	flex: 0 0 var(--size);
	width: var(--size);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	// fill:theme-color('success');
	fill: #fff;
}

.bdw_1 {
	border-width: 1px;
}

.telegramm_ico {
	font-size: 0;
	line-height: 0;

	svg {
		--size: 20px;
		max-width: var(--size);
		flex: 0 0 var(--size);
		width: var(--size);

		fill: #fff;
	}
}

.custom_input {
	position: relative;
	--size: 17px;

	.form-control {
		padding-right: calc(var(--size) + 20px);
		height: 40px;
		color: #000;
		border-radius: 4px !important;

		&.bg-primary-300 {
			&:focus {
				background-color: rgba(theme-color('primary'), .25);
				// background: green;
			}

			@include placeholder {
				color: #ccc;
			}
		}

		&.bg-transparent {
			@include placeholder {
				color: #ccc;
			}
		}

		&:placeholder-shown {
			+.ico {


				img {
					filter: grayscale(100%);
					opacity: .4;
				}
			}
		}
	}

	.ico {

		max-width: var(--size);
		flex: 0 0 var(--size);
		width: var(--size);
		position: absolute;
		top: 50%;
		right: 10px;
		transform: translateY(-50%);
		z-index: 20;

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

.bg-primary-300 {
	background-color: rgba(theme-color('primary'), .2);
	// background: red;
}

.f_block {
	position: relative;
}

.bd-gray {
	border-color: #ccc !important;
}

.revers_link {
	--size: 30px;
	max-width: var(--size);
	flex: 0 0 var(--size);
	width: var(--size);
	height: var(--size);
	border-radius: 50%;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	svg {
		position: absolute;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

// div[countdown] {
// 	--deg: -1;
// 	--col: hsla(0, 100%, 50%, 1);
// 	height: 120px;
// 	width: 120px;
// 	border-radius: 50%;
// 	text-align: center;
// 	font: bold 36px/120px monospace;
// 	background-image: radial-gradient(#fff 49px, #f000 51px), conic-gradient(var(--col) calc(var(--deg) * 1deg - 1deg), transparent calc(var(--deg) * 1deg + 1deg)), radial-gradient(#fff3 40px, #4441 60px);
// 	box-shadow: inset 0 0 10px -5px #000a;
// }

div[countdown] {
	--size: 20px;
	--deg: -1;
	// --col: hsla(0, 100%, 50%, 1);
	--col: hsla(164, 60%, 49%, 1);
	height: var(--size);
	width: var(--size);
	border-radius: 50%;
	text-align: center;
	font-size: 11px;
	line-height: var(--size);
	// font: bold 36px/120px monospace;
	background-image: radial-gradient(#fff 8px, #f000 1px),
		conic-gradient(var(--col) calc(var(--deg) * 1deg - 1deg),
			transparent calc(var(--deg) * 1deg + 1deg)),
		radial-gradient(#fff 9px, #fff 5px);
	// box-shadow: inset 0 0 10px -5px #000a;
}